@{
    ViewData["Title"] = "School Db";
}

<div class="text-center">
    <h1 class="display-4">School Db</h1>
</div>

<div>
    <a class="navlink" href="/Teacher">Teachers</a>
     | 
    <a class="navlink" href="/Class">Students</a>
     | 
    <a class="navlink" href="/Class">Classes</a>
</div>