@model IEnumerable<HTTP5112_Cumulative_1.Models.Student>
@{
    ViewBag.Title = "Students Page";
}

<div>
    <a class="navlink" href="../">Back To Home</a>
</div>

<div class="text-center">
    <h1 class="display-4">Students Page</h1>
</div>

<form method="GET" action="Student/Show">
    <div>
        <label>Find a Student: </label>
        <select name="id">
            @foreach (var Student in Model)
            {
                <option value=@Student.StudentId>@Student.StudentFname @Student.StudentLname</option>
            }
        </select>
        <input type="submit" value="Search!" />
    </div>
</form>

<a class="navlink" href="Student/List">List of Students</a>