@model IEnumerable<HTTP5112_Cumulative_1.Models.Class>
@{
    ViewBag.Title = "Classes Page";
}

<div>
    <a class="navlink" href="../">Back To Home</a>
</div>

<div class="text-center">
    <h1 class="display-4">Classes Page</h1>
</div>

<form method="GET" action="Class/Show">
    <div>
        <label>Find a class: </label>
        <select name="id">
            @foreach (var Class in Model)
            {
                <option value=@Class.ClassId>@Class.ClassCode</option>
            }
        </select>
        <input type="submit" value="Search!" />
    </div>
</form>

<a class="navlink" href="/class/List">List of classs</a>